/*.aux
/flowvis_modules_cgl.bbl
/flowvis_modules_cgl.blg
/flowvis_modules_cgl.brf
/flowvis_modules_cgl.dvi
/flowvis_modules_cgl.log
/flowvis_modules_cgl.out
/flowvis_modules_cgl.pdf
/flowvis_modules_cgl.toc
